<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.playground.pipeline.dag.mapper.PipelineJobMappingMapper">

    <insert id="insertBatch">
        INSERT INTO pipeline_job_mapping (pipeline_definition_id, job_id, execution_order)
        VALUES
        <foreach collection="mappings" item="m" separator=",">
            (#{definitionId}, #{m.jobId}, #{m.executionOrder})
        </foreach>
    </insert>

    <select id="findByDefinitionId" resultType="com.study.playground.pipeline.dag.domain.PipelineJobMapping">
        SELECT m.pipeline_definition_id, m.job_id AS jobId, m.execution_order AS executionOrder,
               j.job_name AS jobName, j.job_type AS jobType,
               j.preset_id AS presetId, mp.name AS presetName,
               j.config_json AS configJson
        FROM pipeline_job_mapping m
        JOIN pipeline_job j ON j.id = m.job_id
        LEFT JOIN middleware_preset mp ON mp.id = j.preset_id
        WHERE m.pipeline_definition_id = #{definitionId}
        ORDER BY m.execution_order
    </select>

    <delete id="deleteByDefinitionId">
        DELETE FROM pipeline_job_mapping WHERE pipeline_definition_id = #{definitionId}
    </delete>

</mapper>
