<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.playground.pipeline.mapper.PipelineJobMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO pipeline_job (pipeline_definition_id, job_name, job_type, execution_order, config_json, preset_id, created_at)
        VALUES
        <foreach collection="jobs" item="j" separator=",">
            (#{definitionId}, #{j.jobName}, #{j.jobType}, #{j.executionOrder}, #{j.configJson}, #{j.presetId}, NOW())
        </foreach>
    </insert>

    <select id="findByDefinitionId" resultType="com.study.playground.pipeline.domain.PipelineJob">
        SELECT j.id, j.pipeline_definition_id, j.job_name, j.job_type,
               m.execution_order, j.config_json, j.preset_id, j.created_at
        FROM pipeline_job_mapping m
        JOIN pipeline_job j ON j.id = m.job_id
        WHERE m.pipeline_definition_id = #{definitionId}
        ORDER BY m.execution_order
    </select>

    <select id="findDependsOnJobIds" resultType="java.lang.Long">
        SELECT depends_on_job_id
        FROM pipeline_job_dependency
        WHERE pipeline_definition_id = #{definitionId} AND job_id = #{jobId}
    </select>

    <insert id="insertDependency">
        INSERT INTO pipeline_job_dependency (pipeline_definition_id, job_id, depends_on_job_id)
        VALUES (#{definitionId}, #{jobId}, #{dependsOnJobId})
    </insert>

    <delete id="deleteDependenciesByDefinitionId">
        DELETE FROM pipeline_job_dependency
        WHERE pipeline_definition_id = #{definitionId}
    </delete>

    <delete id="deleteByDefinitionId">
        DELETE FROM pipeline_job WHERE pipeline_definition_id = #{definitionId}
    </delete>

</mapper>
